<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style type="text/css">
        header.masthead {
            padding-top: 10rem;
            padding-bottom: 5rem;
            background: linear-gradient(rgb(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(https://i.loli.net/2021/07/08/RtLWcJ8C1KBEU7l.jpg) no-repeat 0% 20%/ cover;
            /* background-image: url(https://i.loli.net/2021/07/08/RtLWcJ8C1KBEU7l.jpg);
            background-repeat: no-repeat;
            background-size: cover; */
        }
    </style>
</head>

<body>
    <% layout('layouts/boilerplate')%>
        <header class="masthead">
            <div class="container">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-black font-weight-bold">Welcom to Sour Tomatos</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-105 mb-5">Write your review of your favourate film now!!!</p>
                        <!-- <a class="btn btn-primary btn-xl" href="./Register">Register</a>&nbsp&nbsp&nbsp
                        <a class="btn btn-primary btn-xl" href="./login">Login</a> -->
                    </div>
                </div>
            </div>
        </header>

</body>

</html>