<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Films</title>
</head>

<body>
    <% layout('layouts/boilerplate')%>

        <h1>All Films</h1>
        <% for (let film of films){%>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center">
                            <img class="img-fluid" alt="" src="<%=film.image%>">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= film.title %>
                            </h5>

                            <p class="card-text">
                                <small class="text-muted">
                                    <%= film.description.substring(0,300)+"..."%>
                                </small>
                            </p>
                            <a class="btn btn-primary" href="/films/<%=film._id%>">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            <% }%>
</body>

</html>